@model HomeIndexViewModel
@{
    ViewBag.Title = "Home page";
}

@if(TempData["Message"]!=null)
{
    @TempData["Message"]
}
<h2>Recent Articles</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Descrription</th>
    </tr>
    @foreach(var article in Model.Articles)
    {
    <tr>
        <td>@article.Title</td>
        <td>@article.Author.Name</td>
        <td>@article.ShortDescription</td>
        <td>
            <a asp-action="ArticleDetails" asp-route-id="@article.Id" class="btn btn-sm btn-success">Read</a>
        </td>
        <td>
            <a asp-action="DeleteArticle" asp-route-id="@article.Id" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    }
</table>
<div>
    <a asp-action="Create">Create new article</a>
</div>

@section footer
{
    @Model.Owner.GetFooter()
}

